h1{
font-family: 'Oswald', sans-serif;

}
h2{
font-family: 'Oswald', sans-serif;
}
h3{
font-family: 'Oswald', sans-serif;
}
h4{
font-family: 'Oswald', sans-serif;
}
h5{
font-family: 'Oswald', sans-serif;
}
h1,h2,h3,h4,h5{
    color:darkgray;
}
i{
    color:darkgray;
}
p{
    font-family: 'Alegreya', serif;
    color:darkgray;
}
a{
    font-family: 'Oswald', sans-serif;
    font-style: none;
    text-decoration: none;
    color:#4F6457

}
a:visited{
    color:#4F6457
}
a:hover{
    color:seagreen;
}
body{
    background-color: #ffffff;
}

