$bkpt-mobile-portrait: 320px;
$bkpt-mobile-landscape: 480px;
$bkpt-tablet: 800px;
$bkpt-desktop: 1025px;

$color-black: #3c3c3c;
$color-gray: #f2f1f0;
$color-light-gray: #7f7f7f;
$color-blue: #23337e;
$color-font-blue: #4456af;
$color-white: #fff;
